
<% if @current_user %>
  <h3>Welcome <%= @current_user.username %>! </h3>
<% end %>


<% if @message %>
  <p><%= @message %></p>
<% end %>

<%= form_tag('/login', method: "post") do %>

  <%= label_tag(:username, "Username") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Passweird") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("GOOO") %>

<% end %>